# Laravel & Composer
/vendor
/public/storage
/storage/*.key
/storage/pail
/bootstrap/compiled.php

# Node & Frontend
/node_modules
/public/build
/public/hot

# Environment Files
.env
.env.backup
.env.production

# Cache & Debug
.phpunit.cache
.phpunit.result.cache
npm-debug.log
yarn-error.log

# IDE & Editor Files
/.idea
/.vscode
/.fleet
/.nova
/.zed

# Homestead & Vagrant
Homestead.yaml
Homestead.json
/.vagrant

# Lumen & Laravel Public Path Customization
public_html/storage
public_html/hot

# Auth / Token / Configs
auth.json
.phpactor.json

# File yang tampaknya salah tempel dan harus dihapus
fc7b3fcc54e44561a67acce7561f20dc42579fda
